blobfile>=2.0.0
click>=8.1.7
hydra-core>=1.3.2
hydra-submitit-launcher>=1.2.0
hydra-optuna-sweeper>=1.2.0
multiprocess>=0.70
muon>=0.1.6
omegaconf>=2.3.0
pytorch-lightning>=2.2
PyYAML>=6.0.2
rich>=13.9.4
scvi-tools>=1.2.2
tensorboard>=2.12.0
torchvision==0.17.*
wandb>=0.16.1